.noline
{
    text-decoration: none;
}
.logo
{
    color: #80ff88 !important;
    font-size: 28px; 
    font-weight: bold;
}
.logo:hover
{
    /* text-shadow: 0 0 10px #80ff88; */
    text-shadow: 0 0 8px #80ff88, 0 0 16px #80ff88;

}
.text{
    text-shadow: 0 0 10px #80ff88;
}
.symbol svg:hover
{
    filter: drop-shadow(0 0 8px #80ff88) drop-shadow(0 0 16px #80ff88);
}
.symtext:hover
{
    text-shadow: 0 0 8px #80ff88, 0 0 16px #80ff88;

}
.show
{
    color: #80ff88 !important;  
}
.center
{
    align-items: center;
    align-content: center;
    text-align: center;
}
body,.nav-foot-color,.linkcolor
{
    background-color: #1f242d;
    color: #80ff88;
}
.select{
    /* background-color: white !important; */
    color: #80ff88 !important;
    font-weight: bold;
    font-size: large;
    text-align: center;
    text-shadow: 0 0 10px #80ff88;
}


.setcolors  .nav-link,
.setcolors .navbar-brand {
    color: #80ff88 !important;
    background-color: #1f242d !important;
}
.nav-link:hover{
    color: #80ff88 !important;
    text-shadow: 0 0 8px #80ff88, 0 0 16px #80ff88;
    background-color: transparent !important;
}
.mybtn{
    background-color: white;
    color: #1f242d;
    border: none;
}
.mybtn:hover{
    box-shadow: 0 0 8px #80ff88, 0 0 16px #80ff88;
    text-shadow: 0 0 8px #80ff88, 0 0 16px #80ff88;
    background-color: #80ff88;
    color: #1f242d !important;
    border: none;
}
.img-size{
    height: 72%;
    width: 50%;
}
.bordercustom{
    border: 2px solid #80ff88 !important;
}
.card{
    height: 230px;
}
.cardfont
{
    font-size: 32px;
}
.card-img-top {
  height: 150px; /* Fix image height */
  object-fit:contain; /* Crop image nicely */
}

.float-img
{
    animation: floatupdown 2s ease-in-out infinite;
}
@keyframes floatupdown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}